# Ignore the build files in ChmsTutorials/chms
chms/Documentation
chms/genindex
chms/_images

chms/Python
chms/Controls
chms/Matlab
chms/Mechanics

chms/search
chms/_sources
chms/_static
chms/.doctrees
chms/index.html
chms/objects.inv
chms/searchindex.js
chms/.buildinfo
index.html
.vscode
.idea
CHMS_Logo.png
/scratch/

source/helloWorld.py
